%h3 We were founded as the anti-Twitter!
%p And we are better than Twitter in a lot of ways...
%ol
	%li We allow you to limit your cluckers to people you choose
	%li We have a specific syntax you can use that's easier to understand than Twitter
	%li We never share your information with 3rd Party
	%li You will never see marketing ads on our site!  NEVER!