%h3 Hi #{session[:user_name]}, now you can create and track your Clucks!
%label{:for => "txtCluck"} Add a new cluck! (max 142 characters)
%input{:type => "text", :id => "txtCluck", :class => "text2"}
%button{:id => "cluckSumbit"} Submit
%form#logoutForm(action="/api/logout")
	%button#btnLogout Logout
%br
%br
%br
%table
	%tr
		%th Name
		%th Cluck
		%th Date



-# 	- @Clucks.each do |x|
-# 		%tr
-# 			%td= x.user_name
-# 			%td= x.body
-# 			%td= x.posted_date
-# %br