
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html { height: 100%;}
body { font-family: "Special Elite", sans-serif; background: #E0E0E0; }
#header { position: fixed; z-index: 0; top: 0px; left: 0px; width: 100%; height: 80px; background: white; margin: 0px; padding: 0px;}
#logo {float: left; height: 5px; }
#logo img { display: inline-block; margin-top: 0px; margin-left: 5px; }
#logo a { float: left; margin-left: 5px; font-family: 'Henny Penny', cursive; text-transform: uppercase; font-size: 40px; font-weight: normal; margin: 0px; padding: 0px; color: #708090; }
#logo a:link {text-decoration: none; }
#logo a:visited {color: #708090;}
#menu {display: inline-block; margin-left: 20px; margin-top: 20px; color: #708090;}
#menu a:link {text-decoration: none; }
#menu a:visited {color: #708090; }
#page {margin-top: 80px;  width:100%; background: #E0E0E0; color: black; padding: 10px; }
#signUpFormList { position: absolute; top: 0; bottom: 0; left: 0; right:0; margin: auto; margin-left: auto; margin-right: auto; border-style: solid; border-width: 5px; border-color: orange; height: 200px; width: 300px; background: #F8F8F8; z-index: 100; font-family: "Arial" !important}
#overlay {opacity: 0.7; background: black; width: 100%; height: 100%; z-index: 50; top: 0; left: 0; position: fixed;}
li {list-style-type: square}
button {font-family: "Special Elite", sans-serif; font-size: 18px; background: blue; color: yellow; padding-top: 10px; border-radius: 6px; margin-left: 100px; }
#Submit, #Cancel {display: inline-block; height: 25px; width: 50px; font-family: "Arial"; font-size: 12px; background: gray; color: black; margin: 10px; padding: 0px;}
#Submit {float: left;}
#Cancel {float: led;}